<div class="d-flex flex-row justify-content-center">
  <div class="p-2">
    <form [appMustMatch]="['password', 'confirmPassword']">
      {{diagnostic}}
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="name" placeholder="Enter username" required minlength="4"
          [(ngModel)]="model.user.username" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Username is required</div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" placeholder="Enter password" required
          [(ngModel)]="model.user.password" name="password" #password="ngModel">
        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Password is required</div>
      </div>
      <div class="form-group">
        <label for="confirmpassword">Confirm password</label>
        <input type="text" class="form-control" id="confirmpassword" placeholder="Confirm password" required
          [(ngModel)]="model.user.confirmPassword" name="confirmPassword" #confirmPassword="ngModel">
        <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="alert alert-danger">Confirm password is
          required</div>
      </div>
      <div class="m-5"></div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="Enter first name" required
          [(ngModel)]="model.patient.firstName" name="firstName" #firstName="ngModel">
        <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">First name is required</div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder=" Enter last name" required
          [(ngModel)]="model.patient.lastName" name="lastName" #lastname="ngModel">
        <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">Last name is required</div>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" placeholder="Enter phone number" required
          [(ngModel)]="model.patient.phone" name="phone" #phone="ngModel">
        <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">Phone name is required</div>
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" class="form-control" id="email" placeholder="Enter e-mail" required
          [(ngModel)]="model.patient.email" name="email" #email="ngModel">
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">E-mail name is required</div>
      </div>
    </form>
    <div class="m-5"><button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button></div>
  </div>
