<div class="d-flex flex-row justify-content-center">
  <div class="p-2">
    <form>
      <div class="form-group">
        <label for="formUsernameInput">Username</label>
        <input type="text" class="form-control" id="formUsernameInput" placeholder="Enter username">
      </div>
      <div class="form-group">
        <label for="formPasswordInput">Password</label>
        <input type="text" class="form-control" id="formPasswordInput" placeholder="Enter password">
      </div>
      <div class="form-group">
        <label for="formRePasswordInput">Repassword</label>
        <input type="text" class="form-control" id="formRePasswordInput" placeholder="Retype password">
      </div>
      <div class="m-5"></div>
      <div class="form-group">
        <label for="formFirstNameInput">First Name</label>
        <input type="text" class="form-control" id="formFirstNameInput" placeholder="Enter first name">
      </div>
      <div class="form-group">
        <label for="formLastNameInput">Last Name</label>
        <input type="text" class="form-control" id="formLastNameInput" placeholder=" Enter last name">
      </div>
      <div class="form-group">
        <label for="formPhoneInput">Phone</label>
        <input type="text" class="form-control" id="formPhoneInput" placeholder="Enter phone number">
      </div>
      <div class="form-group">
        <label for="formEmailInput">E-mail</label>
        <input type="text" class="form-control" id="formEmailInput" placeholder="Enter e-mail">
      </div>
    </form>
  </div>
</div>
