<h2 mat-dialog-title>Register to your new visit</h2>

<div class="d-flex flex-row justify-content-center">
    <div class="p-2">
        <form #addVisitForm="ngForm">
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Doctor</mat-label>
                    <mat-select class="form-control" id="doctor" required [(ngModel)]="doctor" name="doctor"
                        #doctorInput="ngModel">
                        <mat-option *ngFor="let doctor of doctors;" value="{{doctor.id}}">
                            {{getDoctorDisplayName(doctor)}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="doctorInput.invalid && (doctorInput.dirty || doctorInput.touched)">
                        You have to choose a doctor</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a visit date and time"
                       [min]="minDate" required name="visitDate" [(ngModel)]="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [stepHour]="stepHour"
                        [stepMinute]="stepMinute">
                    </ngx-mat-datetime-picker>
                </mat-form-field>
            </div>
        </form>
    </div>
</div>

<div class="d-flex flex-row justify-content-center">
    <div class="p-2">
        <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="registerVisit()"
            [disabled]="!addVisitForm.form.valid">
            Register
        </button>
    </div>
    <div class="p-2">
        <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="cancel()">
            Cancel
        </button>
    </div>
</div>